.icon-color{
    height: 27px;
    width: 27px;
    background-color:#F2F1F6;
    border-radius: 50%;
    display: inline-block;
    color: rgb(81, 50, 192);
}
.custom-icon-container {
    position: relative; 
    // top: 10px;
    right: 10px; 
  }