<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-buttons slot="start"> <ion-icon name="chevron-back" size="large"></ion-icon> 
        <ion-text color="primary">Library</ion-text> </ion-buttons>
    </ion-buttons>
    <ion-title>Latest Episodes</ion-title>
    <ion-buttons  id="popover-button" slot="end" class="custom-icon-container">
      <ion-icon class="icon-color" name="ellipsis-horizontal"></ion-icon>
    </ion-buttons>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false">Hide Played Episodes</ion-item>
            <ion-item [button]="true" [detail]="false">Oldest To Newest</ion-item>
            <ion-item [button]="true" [detail]="false">1 week</ion-item>
            <ion-item [button]="true" [detail]="false">2 Weeks</ion-item>
            <ion-item [button]="true" [detail]="false">1 Month</ion-item>
            <ion-item [button]="true" [detail]="false">All</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Latest Episodes</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
