<ion-header [translucent]="true">
  <ion-toolbar [style.--background]="data?.backgroundColor">
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ data?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data" [style.--custombg]="data?.backgroundColor">
  <div class="ion-text-center ion-no-padding image-box">
    <img [src]="'/assets/podcasts/albums/'+dasherize(data.image)+'.jpg'" *ngIf="data">
    <p class="discription"><b>{{ data?.title }} </b></p>
    <p class="discription">{{data?. artist}}</p>
    <ion-button color="light" class="btn-color" (click)="isPlaying ? pauseAudio(data) : playAudio(data)">
      <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
      {{ isPlaying ? 'Pause' : 'Resume' }}
    </ion-button>
  </div>


  <div class="main">
    <ion-row class="row">
      <ion-col size="12" class="album-info">
        <p class="text ion-padding"><b>{{ data.discription }}</b></p>
        <p class="released ion-padding">{{ data.released }}</p>
      </ion-col>
    </ion-row>


    <!-- List of tracks -->
    <ion-list>
      <ion-item href="#">
        <ion-label>
          <h1><b>Episodes</b></h1>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let t of data.tracks" lines="none">
        <ion-item>
          <ion-label><b class="update">{{t.update}}</b>
            <h5><b>{{ t.title }}</b></h5>
            <p>{{ t.sub }}</p>
          </ion-label>
        </ion-item>
        <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="dark"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>