<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
    <ion-buttons slot="end" class="custom-icon-container">
      <ion-button id="popover-button" *ngIf="!editLibraryClicked">
        <ion-icon class="icon-color" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-button *ngIf="editLibraryClicked" (click)="editLibraryClicked = false">
        <ion-text><b>Done</b></ion-text>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item id="present-alert" [button]="true" [detail]="false">New Station</ion-item>
            <ion-alert trigger="present-alert" header="New Station" [buttons]="alertButtons"
              [inputs]="alertInputs"></ion-alert>
            <ion-item id="presentalert" [button]="true" [detail]="false">Follow a Show by URL</ion-item>
            <ion-alert trigger="presentalert" header="Podcast URL" [buttons]="alertButton"
              [inputs]="alertInput"></ion-alert>
            <ion-item [button]="true" [detail]="false" (click)="editLibraryClicked = true">Edit
              Library</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-item>
        <ion-title size="large">Library</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="!editLibraryClicked">
    <ion-item routerLink='/shows' class="ion-padding-start" lines="full" button>
      <ion-icon class="ion-icon" slot="start" name="albums-outline"></ion-icon>
      <ion-label class="font">Shows</ion-label>
    </ion-item>
    <ion-item routerLink='/saved' class="ion-padding-start" lines="full" button>
      <ion-icon class="ion-icon" slot="start" name="bookmark-outline"></ion-icon>
      <ion-label class="font">Saved</ion-label>
    </ion-item>
    <ion-item routerLink='/downloaded' class="ion-padding-start" lines="full" button>
      <ion-icon class="ion-icon" slot="start" name="arrow-down-circle-outline"></ion-icon>
      <ion-label class="font">Downloaded</ion-label>
    </ion-item>
    <ion-item routerLink="/latest-episodes" class="ion-padding-start" lines="full" button>
      <ion-icon class="ion-icon" slot="start" name="time-outline"></ion-icon>
      <ion-label class="font">Latest Episodes</ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header class="ion-padding-start custom-text"><b>Recently Updated</b></ion-list-header>

  <ion-list *ngIf="editLibraryClicked">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-item class="ion-padding-start" lines="full">
        <ion-checkbox slot="start" size="small" checked></ion-checkbox>
        <ion-icon class="ion-icon" slot="start" name="albums-outline"></ion-icon>
        <ion-label class="font">Shows</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item class="ion-padding-start" lines="full">
        <ion-checkbox slot="start" checked></ion-checkbox>
        <ion-icon class="ion-icon" slot="start" name="bookmark-outline"></ion-icon>
        <ion-label class="font">Saved</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item class="ion-padding-start" lines="full">
        <ion-checkbox slot="start" checked></ion-checkbox>
        <ion-icon class="ion-icon" slot="start" name="arrow-down-circle-outline"></ion-icon>
        <ion-label class="font">Downloaded</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item class="ion-padding-start" lines="full">
        <ion-checkbox slot="start" checked></ion-checkbox>
        <ion-icon class="ion-icon" slot="start" name="time-outline"></ion-icon>
        <ion-label class="font">Latest Episodes</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>




</ion-content>